.searchBar {
  display: flex;
  margin-top: 10px;
  gap: 40px;
  input {
    width: 100%;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #ffffff42;
  }
  input:focus {
    outline: none;
    width: 100%;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #ffffff42;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
  }
}
