.measurmeCont {
  position: absolute;
  left: 5px;
  top: 15px;
  .measurment {
    width: 100%;
    padding: 10px 20px 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.396);
    cursor: pointer;
  }
  &:focus {
    outline: none;
    border: none;
  }

  &::after {
    content: "|";
    font-weight: bolder;
    position: absolute;
    right: 40px;
    top: 47%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
  }
}
