* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("../img/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
