.display {
  background-color: rgba(255, 255, 255, 0.298);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  font-weight: bold;
  width: fit-content;
}
