.weatherInfoCont {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  text-align: left;

  .weatherInfoWrapper {
    width: 500px;
    font-size: 20px;
  }
  .weatherInfo {
    font-size: 45px;
    .cityName {
      font-size: 20px;
    }
    .rere {
      display: flex;
      justify-content: space-between;
    }
    .rotatedParagraph {
      // transform: rotate(-90deg);
      font-size: 20px;
    }
  }
  .moreWeatherInfo {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.298);
    width: 100%;
    border-radius: 10px;
    .column {
      text-align: center;
    }
  }
}
